body {
  background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/sa6549607c78f5c11/image/i7614cdae39f2708d/version/1560166289/tbilisi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 100%;
  width: 100%;
}
